header {padding-top:0px;  margin: 0 0 10px 0; height: 290px;}
header nav ul {float:right;}
header nav ul li {float:left;}
header nav ul li a {display:block; padding:5px 15px; border-right:1px solid #eee; font-size:1.052em; font-family:Georgia, "Times New Roman", Times, serif; text-decoration:none;}
header nav ul li a:hover {background-color:#eee; border-right:1px solid #ccc; text-shadow:-1px -1px 0px #fff;}
header nav ul li:last-child a {border-right:none;}
article { display:block; margin-bottom:10px; padding-bottom:10px;}
article a h3 {border-bottom:1px solid #9D9D9D; margin:0;}
article a {text-decoration:none;}
article .date { border-bottom:1px solid #9D9D9D; margin-bottom:10px;padding-bottom:3px;}
article .date .day {font-family:Georgia, "Times New Roman", Times, serif; font-size:1.5em; color:#525252; text-align:center; display:inline; padding:1px;}
article .date .month {font-family:Arial, Helvetica, sans-serif; font-weight:600; color:#525252; display:inline; text-align:center; padding:1px;}
article .date .year {font-family:Verdana, Geneva, sans-serif; font-size:10px; text-align:center; color:#525252; display:inline;}
article .more {display:block; float:right; text-decoration:none; padding:3px;}
article .more:hover {color:#9d9d9d;}
article img {float:left;}
article .titleimage {height: 163px; width: 165px; background: #e0d3b1 url(../images/kolakowski2_14.jpg) 0 0 no-repeat; display:block; float:left;  margin-right:15px; margin-bottom:10px; background-color:#fff;}
article  .titleimage img {margin:6px 3px 3px 9px;}
.PostDate { padding:5px 10px 5px 50px; border-top:1px solid #000; border-bottom:1px solid #000; margin:0 0 0 10px;}
ul.recent {list-style:none; margin:0px; padding:0px;}
ul.recent li {margin-bottom:5px; font-size:1.052em; border-bottom:1px solid #eee; padding-bottom:5px;}
.side_element {margin-bottom:5px; padding-bottom:5px; border-bottom:1px dashed #ccc;}
.side_element h3 {text-shadow: 1px 1px 0 #FFFFFF;}
.photo {height: 250px; width: 258px; background: url(../images/kolakowski2_12.png) 0 40px no-repeat;}
.vid {height: 255px; width: 258px; background: url(../images/kolakowski2_18.png) 0 40px no-repeat;}
h2 {border-bottom:1px dashed #ccc;}
footer {margin:0; padding:0; background:#323232 url(../images/kolakowski2_22.jpg) top repeat-x; outline: 1px solid #111;	border-top: 1px solid #555;}
#bar {color:#e2d6b6;height:20px;}
#kolakowski {position:absolute; z-index:20;left:57px;top:0px;}
.message {
  border-radius: 5px 5px 5px 5px;
  clear: both;
  display: block;
  float: left;
  margin: 20px 9px;
  padding: 10px;
  width: 600px;
}
.message_info {
    background-color: #DFEFFA;
    background-image: url("../images/icons/info_32.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border: 1px solid #99CCCC;
    font-size: 13px;
    padding-left: 50px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.pressed {
	padding: 20px;
	background: #e2d6b6;
	border: 1px solid #d2c49e;
	border-right: 1px solid #d7caa8;
	border-bottom: 1px solid #d7caa8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
